# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environnement virtuel
.venv/
venv/
env/

# Variables d'environnement
.env

# Base de données locale
*.db
*.sqlite3

# Alembic
alembic/versions/*.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
